section.posts {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

div.introduction {
  width: 100%;
}

div.posts-list {
  padding-top: 1%;
}

div.post {
  padding-top: 6.5%;
  padding-bottom: 6.5%;

  h3 {
    font-family: var(--font-1);
    color: black;
    font-weight: 800;
    font-size: 1.6em;
  }

  h5 {
    color: #242424;
  }
}

@media screen and (max-width: 768px) {
  section.posts {
    display: block;
  }

  div.introduction {
    position: static;
    display: block;
    width: 100%;
    padding-right: 0%;
  }

  div.posts-list {
    padding-left: 0%;
  }

  div.post {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
