* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  background: #FFFFFF;
  color: #242424;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: var(--font-libre);
  font-weight: 700;

  i {
    color: black;
    font-weight: 700;
  }

a {
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

p {
  font-family: var(--font-ibm);
  font-size: 1em;
  font-weight: 500;
  padding: 0.2;
  padding-top: 1%;
  padding-bottom: 1%;

  b {
    font-weight: 600;
  }

  a {
    cursor: pointer;
    
    :hover {
      text-decoration: none;
    }
  }
}

main {
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

section {
  padding-top: 1.25%;
  padding-bottom: 1.25%;
}

button {
  padding: 1.2em 10em;
  background: #99999929;
  border: solid 1px #99999959;
  border-radius: 15px;
  font-family: var(--font-libre);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 4%;
    padding-right: 4%;
  }

  p {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
}
