* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  background: #ffffff;
  color: #242424;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: var(--font-1);
  font-weight: 900;

  i {
    color: black;
    font-weight: 700;
  }
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: var(--font-2);
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 1%;
  padding-bottom: 1%;

  b {
    font-weight: 600;
  }

  a {
    cursor: pointer;
    
    :hover {
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

main {
  display: block;
  padding: 1%;
  padding-left: 20%;
  padding-right: 20%;
}

img {
  width: 100%;
}

code {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border: solid 1px #e7dddd;
  background: #ffdaaf34;
  border-radius: 1px;
  font-weight: 400;
  padding: 0.8em;
  font-size: 1.2em;
}

blockquote {
  width: 100%;
  margin-top: 0.6em;
  margin-bottom: 0.9em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  p {
    font-style: italic;
  }

  ::before {
    content: "\“";
    padding-right: 0.2em;
    font-size: 1.5em;
    font-family: var(--font-1);
    position: relative;
    top: 0.2em;
  }

  ::after {
    content: "\”";
    padding-right: 0.2em;
    font-size: 1.5em;
    font-family: var(--font-1);
    position: relative;
    top: 0.7em;
  }
}

ul {
  width: 100%;
  list-style: none;
  display: block;

  ::before {
    position: relative;
    content: "—";
    left: -0.1rem;
    padding-left: 0.2em;
    padding-right: 0.2em;
    height: 100%;
  }
}

li {
  width: 100%;
  display: inline-block;
  position: relative;
  font-family: var(--font-2);
  font-size: 1.1em;
}

button {
  width: 100%;
  padding: 0.85em;
  font-size: 1em;
  font-weight: 900;
  background: #ffffff;
  color: black;
  border: solid 2px black;
  text-transform: uppercase;
  border-radius: 0px;
  font-family: var(--font-2);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 24px 5px rgba(0,0,0,0);
}

button:hover {
  opacity: 1;
  transform: translateY(-0.1em);
  // box-shadow: 2px 5px 20px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease 0s;
}

button:active {
  transform: scale(0.9);
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 4%;
    padding-right: 4%;
  }

  h1 {
    font-size: 2.85em;
  }

  p {
    font-size: 1.35em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  button {
    padding: 1em;
  }

  img {
    width: 100%;
  }
}
