h5 {
  color: #242424;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

div.post-details {
  position: sticky;
  top: 10%;
  width: 30%;
}

div.post-content {
  width: 65%;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: flex-start;
  }

  div.post-details {
    position: static;
    top: 0;
    width: 100%;
  }

  div.post-content {
    width: 100%;
  }
}

